.panel{  
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color:white;
    align-items: center;
    justify-content: space-evenly;

}


.panel-ops p{
    display: inline;
    margin-left: 13px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
}
