.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:370px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    font-size: 0.85rem;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: white;
    height: 40px;
    width:90%;
    margin-bottom: 25px;

}

.hero-message a{
    color: #007185;

}

